# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.vs/
.idea/
*.code-workspace
CopilotSnapshots/
.vs/**

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build outputs
dist/
build/
out/
.coverage/

# Firebase
.firebase/
.firestore/
.storage/
functions/lib/
functions/node_modules/

# Env / secrets
.env
.env.*
